
$backgroundColor: rgb(46, 154, 255);
$hoverColor:  rgb(0, 110, 255); 
$secondaryColor: slategray;
$fontColor: white;
$secondFontColor: black;

body{
    background: $backgroundColor;
    color: $fontColor;
    font-family: "Helvetica";
}

#container{
    width: 75%;
    background: $secondaryColor;
    border-radius: 10px;
    margin: 2em auto;
    overflow: hidden;
    padding: 1em;
    padding-top: 2em;
}

header{
    text-align: center;
    border-bottom: $fontColor dashed 1px;
    h1{
        margin: 0;
        padding: 0;
    }
    p{
        padding: 0;
        margin-top: 0.5em;
    }
}

section{
    min-height: 400px;
}

footer {
    margin-top: 2em;
    text-align: center;
}

input[type='submit']{
    font-size: 1em;
    font-weight: bold;
    background: $backgroundColor;
    border: 0;
    border-radius: 5px;
    color: $fontColor;
    padding: 1em 2em;
    cursor: pointer;
    &:hover{
        background: $hoverColor;
    }
}

form p{
    margin: 0;
    margin-bottom: 0.3em;
    margin-left: 1.1em;
}

#result{
    h3 {
    border-radius: 10px;
    background: $backgroundColor;
    padding: 0.7em;
    margin: 1em 0.5em;
    animation-name: example;
    animation-duration: 1s;
     }
    span {
        color: $secondFontColor;
        font-weight: bold;
    }
} 

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        border: 0;
    }
    #container{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 2em 2.5em;
        border: 0;
    }
}