
$backgroundColor: rgb(46, 154, 255);
$hoverColor:  rgb(0, 110, 255); 
$secondaryColor: slategray;
$fontColor: white;
$secondFontColor: black;

body{
    background: $backgroundColor;
    color: $fontColor;
    font-family: "Helvetica";
}

#container{
    width: 75%;
    background: $secondaryColor;
    border-radius: 10px;
    margin: 2em auto;
    overflow: hidden;
    padding: 1em;
    padding-top: 2em;
}

header{
    text-align: center;
    border-bottom: $fontColor dashed 1px;
    h1{
        margin: 0;
        padding: 0;
    }
    p{
        padding: 0;
        margin-top: 0.5em;
    }
}

section{
    min-height: 400px;
}

footer {
    margin-top: 2em;
    text-align: center;
}

input[type='submit']{
    font-size: 1em;
    font-weight: bold;
    background: $backgroundColor;
    border: 0;
    border-radius: 5px;
    color: $fontColor;
    padding: 1em 2em;
    cursor: pointer;
    &:hover{
        background: $hoverColor;
    }
}

form p{
    margin: 0;
    margin-bottom: 0.3em;
    margin-left: 1.1em;
}

#result{
    h3 {
    border-radius: 10px;
    background: $backgroundColor;
    padding: 0.7em;
    margin: 1em 0.5em;
    animation-name: example;
    animation-duration: 1s;
     }
    span {
        color: $secondFontColor;
        font-weight: bold;
    }
} 

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
    color: $secondaryColor;
    background-color: #fefefe;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  #close {
    color: #aaaaaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        border: 0;
    }
    #container{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 2em 2.5em;
        border: 0;
    }
    .modal-content {
        width: 85%;
      }

}